.background {
    background-color: rgb(141, 63, 0);
    background-image: url('../../imagenes/foto1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    min-height: 100vh;
    
}