.background {
    background-color: linear-gradient(rgba(19, 14, 10, 0.95), rgba(19, 14, 10, 0.95));
    background-image: url('../../imagenes/foto1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    min-height: 40vh;
    
}